body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.like-button {
  margin: 2vh;
}

.buttons {
  display: flex;
  margin: 1vh;
}

.buttons button {
  margin: 2vh;
  background-color: lightblue;
}

.clickable-picture {
  height: 30vh;
}

.dice {
  height: 30vh;
}

.disco-button {
  margin: 2vh;
}